<h1>Tutors</h1>
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <mat-list>
            <mat-list-item *ngFor="let tutor of tutors">
                @if (tutor.profilePicture_name === null) {
                  <mat-icon matListItemAvatar aria-hidden="false" aria-label="Tutor Avatar" fontIcon="face"></mat-icon>
                } @else {
                  <img matListItemAvatar src="{{ uploadsFolder }}{{ tutor.profilePicture_name }}" alt="Tutor's avatar">
                }
                <button mat-button (click)="selectTutor(tutor)">
                    {{ tutor.name }}
                </button>
            </mat-list-item>
          </mat-list>
        <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tutors
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let tutor of tutors">
                <button (click)="selectTutor(tutor)">
                    {{ tutor.name }}
                </button>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel> -->
        <!-- Add more panels as needed -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Selected tutor -->
       @if(selectedTutor){
         <mat-card class="example-card" appearance="outlined">
           <mat-card-header>
             <!-- <div mat-card-avatar class="example-header-image"></div> -->
             <mat-card-title>{{ selectedTutor.name }}</mat-card-title>
             <!-- <mat-card-subtitle>{{ selectedTutor.bio }}</mat-card-subtitle> -->
           </mat-card-header>
           @if (selectedTutor.profilePicture_name) {
             <img mat-card-image src="{{ uploadsFolder }}{{ selectedTutor.profilePicture_name}}" alt="Photo of {{ selectedTutor.name }}">
           } @else {
             <img mat-card-image src="https://via.placeholder.com/150" alt="Photo of {{ selectedTutor.name }}">
           }
           <mat-card-content>
             <p>
              {{ selectedTutor.bio }}
             </p>
           </mat-card-content>
           <mat-card-actions>
             <button mat-button>Message</button>
             <button routerLink="/lesson-space" mat-button>Call</button>
           </mat-card-actions>
         </mat-card>
       }
    </mat-sidenav-content>
</mat-sidenav-container>