.registerContainer{
    position: relative;
    top: -2rem;
    height: fit-content;
    width: 65em;
    margin: 6em auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
}

.registerInfoContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background: var(--login-bg);
}

.imageContainer{
    width:50%;
    padding: 2rem;
    background: var(--image-bg);
    box-sizing: border-box;

}

.title{
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
    padding-bottom: 2.4rem;
}

.socialLogin{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.Or{
    font-size: 1.25em;
    margin-top: 0.8rem;
}

.socialLoginElement{
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid var(--button-bg)
}

.socialLoginElement img{
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0rem;
    right: 0.65rem;
}

.socialLoginElement:hover{
    background: white;
    cursor: pointer;
    color: var(--light-blue);
}



.inputContainer{
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.inputField {
    width: 80%;
    position: relative;
    padding-bottom: 2rem;
    /* hide */
}

.inputField input{
    width: 100%;
}

.inputField input[type="date"]{
    color: grey;
    text-decoration: none;
    padding-left: 1rem;
}

.inputField i{
    position: absolute;
    top: 0.6rem;
    left: 0.5rem;
    font-size: 1.2rem;
}


/* .inputs{
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--light-blue);
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-left: 2rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
} */




/* .inputs:hover{
    border: 2px solid var(--light-blue);
} */

/* .btn{
    width: 80%;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    background-color: var(--button-bg);
} */

/* .btn:hover{
    background-color: var(--light-blue);
    cursor: pointer;
}

.Span{
    color: var(--light-blue);
    font-weight: 600;
    cursor: pointer;
}

.show-btn{
    position: absolute;
    right: 2rem;
    bottom: 4.3rem;
    cursor: pointer;

} */


/* responsive */

@media screen and (max-width: 1000px){
    .imageContainer{
        display: none;
    }

    .registerContainer{
        width: 70%;
        margin-top: 3rem;
    }

    .registerInfoContainer{
        width: 100%;
    }
}

@media screen and (max-width: 650px){
    .registerContainer{
        width: 90%;
    }
}

 @media screen and (max-width: 500px){
    .registerContainer{
        height: 90%;
    }

    .socialLogin{
        height: 20%;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }    

    .registerInfoContainer > p{
        margin: 0%;

    }

    .socialLoginElement{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}