<div class="registerContainer">
  @if (form_submitted) {
    <p >
      Confirm email {{ registrationForm.value.email }} to complete registration.
    </p>
  }
  @if (!form_submitted) {
    <div class="registerInfoContainer">
      <!-- Registrarion form -->
      
      <h1 class="title">Apply to become a tutor!</h1>
      <!-- User Form -->
      <form class="inputContainer" [formGroup]="registrationForm"  (ngSubmit)="submitForm()" >
        <div class="inputField">
          <input
          class="inputs form-control"
          type="email"
          placeholder="Email"
          formControlName="email"
          />
        <i class="bi bi-envelope"></i>
      </div>
      <div class="inputField">
        <input
          class="inputs form-control"
          type="text"
          placeholder="First Name"
          formControlName="first_name"
        />
        <i class="bi bi-person-lines-fill"></i>
      </div>
      <div class="inputField">
        <input
          class="inputs form-control"
          type="text"
          placeholder="Last Name"
          formControlName="last_name"
          />
        <i class="bi bi-person-lines-fill"></i>
      </div>
      <div class="inputField">
        <textarea
          class="inputs form-control"
          formControlName="bio"
          placeholder="Tell us about yourself"
        ></textarea>
        <i class="bi bi-file-person-fill"></i>
      </div>
      <div class="inputField">
        <select class="inputs form-control" formControlName="country">
          <option value="" disabled>Select your Country</option>
          <option value="USA">USA</option>
          <option value="Canada">Canada</option>
          <option value="Mexico">Mexico</option>
          <!-- Add more countries as needed -->
        </select>
        <i class="bi bi-flag"></i>
      </div>
      <div class="inputField">
        <select class="inputs form-control" formControlName="subjects" multiple>
          <option value="" disabled>Select your Subjects</option>
          <option value="Math">Math</option>
          <option value="Science">Science</option>
          <option value="English">English</option>
          <!-- Add more subjects as needed -->
        </select>
        <i class="bi bi-book"></i>
      </div>
      <div class="inputField">
        <input
          class="form-control"
          type="tel"
          placeholder="Phone: (+1)"
          formControlName="phone_number"
          />
          <i class="bi bi-telephone"></i>
        </div>
        <div class="inputField">
          <input
          class="inputs form-control"
          type="date"
          formControlName="birth_date"
          />
        </div>
        <div class="inputField">
          @if (selectedProfilePictureURI != null) {
            <img [src]="selectedProfilePictureURI" alt="Profile Picture" class="profile_picture" />
          }
          <input
          class="inputs form-control"
          type="file"
          style="display: none;"
          formControlName="profile_picture"
          accept="image/*"
          (change)="onFileSelected($event)"
          />
          <button onclick="document.querySelector('input[formControlName=profile_picture]').click()" type="button">
          Upload Profile Picture
        </button>
        <i class="bi bi-file-image"></i>
      </div>
      <div class="inputField">
        <mark class="form-text mb-2" for="password">* Password should have at least one digit, one lowercase letter, one uppercase letter, one special character, and a length of 8 to 32 characters.</mark>
        <input
        class="inputs form-control password mt-2"
        type="password"
        placeholder="Password"
        formControlName="password"
        />
        <i class="bi bi-lock-fill"></i>
      </div>
      <div class="inputField">
        <input
        class="inputs form-control password"
        type="password"
        placeholder="Confirm Password"
        formControlName="confirm_password"
        />
        <span class="lock"><i class="bi bi-lock-fill"></i></span>
        <span class="show-btn password">
          <i class="eye bi bi-eye-fill" id="eye"></i>
        </span>
        <div *ngIf="registrationForm.errors?.mismatch">
          Passwords do not match.
        </div>
      </div>
      <!-- Submit form -->
      <button class="btn btn-primary" type="submit" id="register" [disabled]="!registrationForm.valid">Register</button>
      <p>
        Do you have an account?
        <span class="Span">
          <a href="/login">Login</a>
        </span>
      </p>
    </form>
  </div>
  <img src="./assets/login.svg" alt="Login" class="imageContainer" />
}
</div>
