<div class="loginContainer">
  <div class="loginInfoContainer">
    <h1 class="h1">Log in with</h1>
    <!-- <div class="socialLogin">
      <div class="socialLoginElement">
        <img src="./assets/google.svg" alt="Google icon" >
        <span>Google</span>
      </div>
      <div class="socialLoginElement">
        <img src="./assets/facebook.svg" alt="Google icon">
        <span>Facebook</span>
      </div>
    </div>
    <p>or</p> -->
    <form (submit)="onLogin()" class="inputContainer">
      <div class="inputField">
        <input name="email" class="inputs" type="text" placeholder="Email" >
        <i class="bi bi-person-circle"></i>
      </div>
      <div class="inputField">
        <input name="password" class="inputs password" type="password" id="password" placeholder="Password" >
        <i class="bi bi-lock-fill"></i>
        <i class="bi bi-eye-slash show"></i>
      </div>
      <!-- <p>Forgot password?
        <span class="Span">
          Click here
        </span>
      </p> -->
      <button type="submit" class="btn btn-primary">Login</button>
      <p>Don't have an account? <span class="Span"><a routerLink="/register">Register</a></span></p>
    </form>

    
  </div>
  <img src="./assets/login.svg" alt="Login" class="imageContainer">
</div>