<navigation-bar [showTutorLogin]="false" [showLogin]="false"></navigation-bar>
<br>
@if (!isLoggedIn){
  <div class="loginContainer">
    <div class="loginInfoContainer">
      @if (isEmailConfirmed){
        <p class="alert alert-primary">Congratulations! Your email was confirmed, now you can log in.</p>
      }
      <h2 class="h2">Welcome back tutor!</h2>
      <p class="p">Login to your account to continue</p>
      <form (submit)="onLogin()" class="inputContainer" [formGroup]="credentialsForm">
        <mat-form-field>
          <mat-icon matTextPrefix>mail</mat-icon>
          <mat-label>email</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-icon matTextPrefix>password</mat-icon>
          <mat-label>password</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
        <button type="submit" class="btn btn-primary">Login</button>
        <br>
        <p>Not a tutor yet? <button routerLink="/tutor/register" class="btn btn-link">Sign Up</button></p>
        <p>Trying to log in as a Student? <button routerLink="/student/login" class="btn btn-success">Go to Student page</button></p>
      </form>
    </div>
    <img src="./assets/login.svg" alt="Login" class="imageContainer">
  </div>
}