<!-- <navigation-bar></navigation-bar> -->
@if(formSubmitted){
    <navigation-bar></navigation-bar>
    <div class="container my-5">
        <h2>{{form.value['first_name']}}, Thank you for registering!</h2>
        <!-- <p>Phone Number: {{form.value['phone_number']}}</p> -->
         <p>To start learning with us, please verify your email:</p>
        <p><b>{{form.value['email']}}</b></p>
        @if(email_resent){
            <p class="alert alert-primary m-3">Email confirmation resent</p>
        } 
        @if (email_resend_error === true){
            <p class="alert alert-danger m-3">Email confirmation resend failed</p>
        }
        <button mat-flat-button (click)="resendConfirmationEmail()">Resend email confirmation</button>
        <button class="btn btn-primary" routerLink="/student/login">Back to login</button>
    </div>
}

@if (!formSubmitted){
    <div class="container-fluid px-0">
    <!-- <form class="container" [formGroup]="form" (ngSubmit)="register()">
        <label for="first-name" class="form-label">First Name</label>
        <input type="text" formControlName="first-name" class="form-control">
        <label for="last-name" class="form-label">Last Name</label>
        <input type="text" formControlName="last-name" class="form-control">
        <mat-form-field>
            <mat-label>Phone number</mat-label>
            <tel-input formControlName="tel" required></tel-input>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>Include area code</mat-hint>
          </mat-form-field>
          <p>Entered value: {{form.valueChanges | async | json}}</p>
        <mat-form-field />
        <input type="text" formControlName="phone-number" class="form-control">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control">
        <label for="birth-date" class="form-label">Date of Birth</label>
        <input type="date" formControlName="birth-date" class="form-control">
        <label for="password" class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control">
        <button type="submit" class="form-label btn btn-primary">Sign Up</button>
    </form> -->
    <div class="container-fluid">
            <h1>Complete your profile</h1>
            <form class="my-3" [formGroup]="form" (submit)="submitRegisterForm()">
                    <div class="row">
                        <mat-form-field class="col">
                            <mat-label>First Name</mat-label>
                            <input type="text" matInput formControlName="first_name" required>
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="col">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput formControlName="last_name">
                            <!-- <mat-icon matSuffix>person</mat-icon> -->
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <!-- <mat-form-field>
                            <mat-label>Phone number</mat-label>
                            <example-tel-input formControlName="phone_number"></example-tel-input>
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-hint>Include area code</mat-hint>
                        </mat-form-field> -->
                        <!-- <p>Entered value: {{form.valueChanges | async | json}}</p> -->
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" required>
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="mb-3">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="birth_date">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password" required>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" matInput formControlName="confirm_password" required>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
    
                    </div>
                    @if (formSubmissionInProgress){
                        <div class="container my-2">
                            <h2>Registering...</h2>
                            <p>Please wait...</p>
                        </div>
                    }
                    <button mat-flat-button>Register</button>
            </form>
        </div>
        <img src="../../../../assets/living-room.jpg" alt="Student room picture">
    </div>
}

  
  
  <!-- Copyright 2024 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at https://angular.io/license -->