<div class="d-flex flex-column justify-content-center align-items-center h-100">
  <h1>Lesson Space</h1>
  <div class="row">
    <div class="col-6">
      <video #local_video autoplay></video>
      <!-- <button class="btn btn-primary m-3" (click)="endCall()">End call</button> -->
    </div>
    <div class="col-6">
      <video #remote_video autoplay></video>  
      <!-- <button class="btn btn-primary m-3" (click)="makeCall()">Init call</button> -->
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <mat-slide-toggle [checked]="isCameraOn" (click)="switchOnOffCamera()">Camera</mat-slide-toggle>
      <!-- <mat-slide-toggle (click)="switchOnOffCamera()">
        Enable/Disable Camera
      </mat-slide-toggle> -->
    </div>
    <div class="col">
      <mat-slide-toggle [checked]="isAudioOn" (click)="switchOnOffMicrophone()">Microphone</mat-slide-toggle>
    </div>
    <div class="col">
      <mat-slide-toggle [checked]="isScreenSharingOn" (click)="switchOnOffScreenSharing()">ScreenShare</mat-slide-toggle>
    </div>
    <div class="col">
      <button mat-flat-button (click)="makeCall()">Call</button>
    </div>
    <div class="col">
      <button mat-button (click)="hangUp()">Hang Up</button>
    </div>
    
  </div>
  </div>