/* -------------------------------Nav Bar----------------------------------- */


li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

nav{
    width: 100%;
    background: var(--color-white);
    padding: 1vh 2vw;
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav .navLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-dark);
    margin-left: 1rem;
    height: 10vh;
}

.searchBar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.searchBar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

.searchBar input[type="search"]::placeholder{
    color:var(--color-gray)
}

nav .create{
    display: flex;
    align-items: center;
    gap: 2rem;

}

.bi{
    color: var(--color-gray);
}