<nav>
  <div class="home-section">
    <a routerLink="/home">
      <img class="logo" src="./assets/zen-logo.png" alt="" />
    </a>
  </div>
  <ul class="navLinks">
    <li>
      <button type="button" class="btn btn-outline-primary">Pricing</button>
    </li>
    <li>
      <button routerLink="/tutor/login" class="btn btn-outline-secondary">Tutor Login</button>
    <li>
      <button routerLink="/student/login" class="btn btn-primary">Log In</button>
    </li>
    <li class="profilePicture">
      
    </li>
  </ul>
  </nav>