<nav class="navbar navbar-expand-sm bg-body-tertiary ">
  <!-- <div class="home-section"> -->
    <a routerLink="/" class=".navbar-brand">
      <img class="logo" src="./assets/zen-logo.png" alt="" />
    </a>
  <!-- </div> -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <div class="me-auto mb-2 mb-lg-0"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <button type="button" class="nav-link">Pricing</button>
        </li>
        <li class="nav-item">
          <button routerLink="/tutor/login" class="nav-link">Tutor Login</button>
          <li class="nav-item">
            <button routerLink="/student/login" class="btn btn-primary">Log In</button>
          </li>
          <!-- <li class="profilePicture">
            
          </li> -->
        </ul>
    </div>
  </nav>