<navigation-bar></navigation-bar>
<main>
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-7">
        <h2 class="h2">Verified Tutors at $20/hour and tutor keeps it all</h2>
        <small class="text-muted">We are a platform that connects students with verified tutors. We do not take any commission from the tutors. The tutors keep all the money they earn. We have tutors for Math, Science, English, History, and more</small>
        <button routerLink="/tutors" class="btn btn-primary mt-3">Find a Tutor <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M5 12l14 0" />
          <path d="M15 16l4 -4" />
          <path d="M15 8l4 4" />
        </svg></button>
      </div>
      <div class="col-md-5">
        <img src="../../../assets/student.png" alt="student">
      </div>
    </div>
  </div>
</main>
