navigation-bar {
    width: 100%;
    display: block;
}

img {
    display: inline;
    position: relative;
    width: 60%;
    border-radius: 30px;
    right: 0px;
}

.get-started > div {
    margin: 12px 0;
    display: inline-block;
}

@media screen and (max-width: 900px){
    img {
        width: 100%;
    }
    #image-container {
        width: 100%;
    }    
    .get-started > div {
        width: 100% !important;
    }
    #become-a-tutor-container > div {
        width: 100% !important;
    }
}


#get-started-container {
    width: 60%;
}

#image-container {
    width: 40%;
    height: 100%;
    text-align: end;
    vertical-align:middle;
}



button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-5 {
    text-align: right;
}


svg {
    width: 20px;
    margin-left: 5px;
}

.highlight-blue {
    color: #5E17EB;
}

.highlight-yellow {
    color: #f5a623;
}

section {
    margin-bottom: 16px;
    padding: 5vw;
}

#how-it-works-sec {
    background-color: #5E17EB;
}

#how-it-works-sec h2, #how-it-works-sec small {
    color: white;
}

.card {
    margin: 10px 0;
}

main {
    width: 100%;
}


/* Become a tutor section */

#become-a-tutor-container > div {
    display: inline-block;
    width: 50%;
    text-align: center;
}

#tutor-register-email-field {
    background-color: #5E17EB;
    padding: 30px;
    position: relative;
    /* left: -15vw; */
}

#become-a-tutor-container div:nth-of-type(2n) > *{
    /* background-color: #f5a623; */
    /* padding: 30px; */
    margin-bottom: 20px;
}

input {
    color: white;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 0;
    border: 0.5px solid;
    background: rgba(255, 0, 0, 0.0);
    border-color: rgba(255,255,255,0.4);
}

input::placeholder {
    color: rgba(255,255,255,0.8); /* Change placeholder text color to white */
}