/* Import Google Fonts */
/* 
* {
    font-family: Raleway , sans-serif !important; 
  } 
  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Set the global font to Roboto, excluding elements with Material Icons */
body, body *:not(.material-icons) {
    font-family: 'Raleway', sans-serif;
}

/* Explicitly set Material Icons font for icon elements */
.material-icons {
    font-family: 'Material Icons';
}

/* html{ */

    /* Color Scheme */
    /* --color-dark: #212529;
    --color-light: #f8f9fa;
    --color-primary: #184e9f;
    --color-secondary: #35577a;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #6c757d; */

    /* Padding */
    /* --card-padding:1rem;
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem; */

    /* sidebars */

    /* --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem; */


/* } */